body {
    margin: 0;
    padding: 0;
    font-family: "General Sans", sans-serif;
}

.hero-section {
    background-image: url("hero-section-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    color: #fff !important;
    font-weight: bold;
    padding: 2% !important;
}

.navbar-brand {
    font-size: 2rem !important;
    color: #fff !important;
}

.navbar-brand:hover {
    color: #b2ac88 !important;
}

.nav-link {
    color: #fff !important;
    font-size: 1.2rem !important;
}

.nav-link:hover {
    color: #b2ac88 !important;
}

.search-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
}

.login-btn {
    align-items: center;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    min-height: 40px;
    padding: 0.5% 2%;
    text-align: center;
    vertical-align: middle;
    background-color: #b2ac88;
    color: #122013;
    font-size: 1.2rem;
    margin-left: 2%;
}

.login-btn:hover {
    background-color: #fada5e;
}

.hero-content {
    padding: 10% 10%;
}

.hero-h1 {
    font-size: 3rem;
    color: #fada5e;
    margin-bottom: 3%;
    font-weight: bold;
}

.hero-text {
    font-size: 1.5rem;
    margin-bottom: 4%;
    color: #c7c8cc;
}

.explore-more-btn {
    align-items: center;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    min-height: 40px;
    padding: 1.5% 4%;
    text-align: center;
    vertical-align: middle;
    background-color: #fada5e;
    border: none;
    font-size: 1.2rem;
    color: #122013;
    font-weight: bold;
}

.explore-more-btn:hover {
    background-color: #b2ac88;
}

.great-combo-heading {
    padding-top: 3%;
    text-align: center;
    font-size: 2.5rem;
    color: #122013 !important;
    font-weight: bold;
}

#combo-section {
    padding: 4% 10% 10% 8%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10%;
}

.combo-section-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 5%;
}

.combo-section-content img {
    width: 100%;
}

.combo-section-content p {
    color: #607274;
    font-size: 1.1rem;
}

.combo-section-content button {
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    min-height: 40px;
    padding: 4% 10%;
    text-align: center;
    vertical-align: middle;
    background-color: #fada5e;
    border: none;
}

.combo-section-content button:hover {
    background-color: #b2ac88;
}

#our-services {
    background-color: #122013;
    padding: 4% 7%;
}

.our-services-heading1 {
    color: #fada5e;
    text-align: center;
    font-weight: bold;
}

.our-services-content {
    color: #c7c8cc;
    width: 70%;
    text-align: center;
    margin: 3% auto;
    font-size: 1.2rem;
}

.services {
    padding: 0 7%;
}

.carousel-item img {
    opacity: 0.7;
}

.choose-us {
    padding: 5% 7% 12% 7%;
}

.choose-us-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 35%;
    grid-column-gap: 5%;
}

.pros-icon {
    color: #fada5e;
}

.pros {
    color: #607274;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}

#about-us {
    padding: 4% 7%;
    background-color: #122013;
}

.container6-aboutus {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    text-align: center;
    align-items: center;
    grid-column-gap: 5%;
}

.team-member-name {
    color: #fada5e;
    font-size: 1.3rem;
}

.grid-item-team-member {
    position: relative;
    width: 100%;
}

.grid-item-team-member:hover::before {
    transition: 0.5s linear all;
}

.grid-item-team-member img {
    display: block;
}

.grid-item-team-member .image-hover-icons-team-social {
    position: relative;
    top: -20px;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 0.5s linear all;
}

.grid-item-team-member:hover .image-hover-icons-team-social {
    opacity: 1;
}

.team-social-icons {
    color: #122013;
    margin: 0 2%;
    padding: 7% 4%;
    cursor: pointer;
    font-weight: bold;
    background-color: #c7c8cc;
}

.team-social-icons:hover {
    background-color: #fada5e;
}

.member-img {
    width: 100%;
}

.slide-form {
    position: fixed;
    left: 2%;
    border-radius: 20px;
    width: 30%;
    background-image: url("popup.png");
    background-position: center;
    background-size: cover;
    padding: 5% 3%;
    box-sizing: border-box;
    transition: bottom 0.5s ease-in-out;
    z-index: 1;
}

.hidden {
    display: none;
}

.user-form input {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2%;
    padding: 1%;
    box-sizing: border-box;
}

.user-form input:hover {
    border: 2px solid #fada5e;
}

.user-form button {
    width: 100%;
    padding: 10px;
    background-color: #fada5e;
    color: #122013;
    border: none;
    margin-top: 4%;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #fada5e;
    font-weight: bold;
}

.countdown-section {
    align-items: center;
    padding: 5% 35%;
}

.countdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cd-box {
    background-color: #fada5e;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    align-items: center;
    text-align: center;
    padding: 6% 4%;
    color: #607274;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.cd-box {
    width: 100px;
    height: 100px;
}

/*--------------------TABLET-----------------------*/
@media only screen and (max-width: 1200px) {
    .hero-section {
        height: auto;
    }

    .login-btn {
        padding: 2% 7%;
        margin-left: 0;
        margin-top: 3%;
    }

    .hero-content {
        padding: 8% 10% 12% 10%;
    }

    .hero-h1 {
        font-size: 2.5rem;
        margin-bottom: 4%;
    }

    .hero-text {
        font-size: 1.2rem;
        margin-bottom: 7%;
        color: #c7c8cc;
    }

    .explore-more-btn {
        padding: 2% 5%;
    }

    .great-combo-heading {
        padding-top: 8%;
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    #combo-section {
        padding: 4% 10% 33% 10%;
        grid-template-columns: auto;
        grid-row-gap: 5%;
    }

    .combo-section-content {
        grid-template-columns: 46.5% 46.5%;
        grid-column-gap: 7%;
    }

    .combo-section-content img {
        width: 100%;
    }

    .combo-section-content p {
        font-size: 1.2rem;
    }

    .combo-section-content button {
        padding: 5% 12%;
    }

    #our-services {
        padding: 8% 10%;
    }

    .our-services-content {
        width: 100%;
        margin: 5% auto;
        text-align: justify;
    }

    .services {
        padding: 2% 0;
    }

    .carousel-item img {
        opacity: 0.6;
    }

    .choose-us {
        padding: 8% 10% 25% 10%;
    }

    .choose-us-content {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 15%;
    }

    .pros-icon {
        margin-right: 5%;
    }

    .pros {
        padding: 6% 4%;
    }

    #about-us {
        padding: 8% 10% 14% 10%;
    }

    .container6-aboutus {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        margin-top: 10%;
        grid-row-gap: 5%;
    }

    .team-member-name {
        font-size: 1.2rem;
    }

    .slide-form {
        width: 48%;
        padding: 5%;
    }

    .countdown-section {
        align-items: center;
        padding: 5% 35%;
    }

    .countdown {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cd-box {
        background-color: #fada5e;
        -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        align-items: center;
        text-align: center;
        padding: 6% 4%;
        color: #607274;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    div.cd-box {
        width: 100px;
        height: 100px;
    }
}

/*--------------------PHONE-----------------------*/
@media only screen and (max-width: 600px) {
    .hero-section {
        background-image: url("phone-hero.png");
        height: auto;
    }

    .login-btn {
        padding: 2% 10%;
        margin-left: 0;
        margin-top: 7%;
    }

    .hero-content {
        padding: 15% 8% 18% 8%;
    }

    .hero-h1 {
        font-size: 2rem;
        margin-bottom: 7%;
        text-align: center;
    }

    .hero-text {
        font-size: 1.2rem;
        margin-bottom: 15%;
        text-align: center;
        color: #c7c8cc;
    }

    .explore-more-btn {
        padding: 3% 10%;
        margin: 0 20%;
    }

    .explore-more-btn:hover {
        background-color: #b2ac88;
    }

    .great-combo-heading {
        padding-top: 10%;
        font-size: 2rem;
    }

    #combo-section {
        padding: 8% 8% 6% 8%;
        display: block;
    }

    .combo-section-content {
        display: block;
        text-align: center;
        margin-bottom: 15%;
    }

    .combo-section-content img {
        width: 60%;
    }

    .combo-section-content h3 {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #607274;
    }

    .combo-section-content p {
        color: #607274;
        font-size: 1rem;
    }

    .combo-section-content button {
        padding: 2% 10%;
        font-size: 1rem;
    }

    .combo-section-content button:hover {
        background-color: #b2ac88;
    }

    #our-services {
        padding: 10% 8%;
    }

    .our-services-heading1 {
        font-size: 2rem;
    }

    .our-services-content {
        width: 100%;
        text-align: justify;
        margin: 7% 0 10%;
        font-size: 1.2rem;
    }

    .services {
        padding: 0;
    }

    .carousel-item img {
        opacity: 0.5;
    }

    .carousel-caption {
        font-size: 0.7rem !important;
    }

    .carousel-caption h5 {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }

    .carousel-caption p {
        margin-bottom: 0 !important;
    }

    .choose-us {
        padding: 10% 8%;
    }

    .choose-us-content {
        display: block;
        margin-top: 10%;
    }

    .pros-icon {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .pros {
        padding: 5% 5% 2% 5%;
        display: block;
        text-align: center;
        margin: 10%;
    }

    .pros h5 {
        font-size: 1.1rem;
    }

    .pros p {
        font-size: 0.9rem;
    }

    #about-us {
        padding: 10% 8%;
    }

    .container6-aboutus {
        display: block;
        margin-top: 10%;
    }

    .team-member-name {
        margin-top: 0;
        font-size: 1.2rem;
    }

    .grid-item-team-member {
        margin-bottom: 10%;
    }

    .grid-item-team-member img {
        width: 70%;
        margin: 0 auto;
    }

    .grid-item-team-member .image-hover-icons-team-social {
        position: relative;
        top: -25px;
        left: 45.5%;
    }

    .grid-item-team-member:hover .image-hover-icons-team-social {
        opacity: 1;
    }

    .team-social-icons {
        padding: 4% 2%;
    }

    .slide-form {
        left: 3%;
        width: 80%;
        padding: 8% 5%;
    }

    .slide-form h2 {
        font-size: 1.4rem;
    }

    .slide-form p {
        font-size: 1rem;
    }

    .user-form button {
        font-size: 1rem;
    }

    .countdown-section {
        align-items: center;
        padding: 5% 35%;
    }

    .countdown {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cd-box {
        background-color: #fada5e;
        -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
        align-items: center;
        text-align: center;
        padding: 6% 4%;
        color: #607274;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    div.cd-box {
        width: 100px;
        height: 100px;
    }
}
